
<html>
  <body>
    <center>
      <div
        style='background-color: #d3d3d3; max-width: 840px; margin: 0; padding: 30px;'
      >
        <h2 style='color: #292536; text-align: center'>Confirme seu endereço de
          email</h2>
        <p>Parabéns! Seu plano {{planName}} já está ativado. 
        <p>Para confirmar seu email use o seguinte código:
          <strong>{{userTokenDigits}}</strong>
        </p>
        <p>ou acesse o seguinte link:
        </p>
        <div
          style='margin: 20px auto; width: 180px; padding: 10px 20px; background-color: #442d52; border-radius: 5px; text-align: center;'
        >
          <a
            href='http://boadevenda.com.br/email-confirmation/?token={{userToken}}'
            target='_blank'
            rel='noopener noreferrer'
            style='text-decoration: none; color: #fcfcfc; font-size: 18px; margin: 0 auto;'
          >Confirmar Email</a>
        </div>
        <p>Para logar, utilize esse endereço de e-mail que você está utilizando nesse momento e a senha:</p>
        <strong>{{generatedPassword}}</strong>
        <p>Lembrando que você pode solicitar uma nova senha a qualquer momento, caso desejar.</p>
        </p>
      </div>
    </center>
  </body>
</html>
