
<html>
  <body>
    <center>
      <div
        style='background-color: #d3d3d3; max-width: 840px; margin: 0; padding: 30px;'
      >
        <h2 style='color: #292536; text-align: center'>Confirme seu endereço de
          email</h2>
        <p>Parabéns! Seu plano {{planName}} já está ativado. 
        </p>
      </div>
    </center>
  </body>
</html>
